In [28]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_csv("Berlin-tram-route - Sheet1.csv")
df

,route,M1,M2,M4,M5,M6,M8,M10,12,M13,...,21,27,37,50,60,61,62,63,67,68
0,M1,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,M2,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M4,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M5,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M6,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,M8,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,M10,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,12,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,M13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,16,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,M17,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
11,18,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,21,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
13,27,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
14,37,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
15,50,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0
17,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
18,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0
19,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0
20,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0
21,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN

In [30]:
new_df=df.replace(np.NaN,0)

In [33]:
n_column = list(new_df.columns[1:]) 
while len(n_column)>0:
  group = [n_column[0]]
  n_column.remove(group[0])
  k = n_column.copy()
  for i in k:
    k =0
    for j in group:
      if new_df[new_df["route"]==j][i].values[0]==0:
        k = k+1
    if k == len(group):
      group.append(i)
      n_column.remove(i)
  print(group)

['M1', 'M2', '16', '18', '37', '61']
['M4', 'M17', '50', '62']
['M5', '12', '21', '63']
['M6', '60']
['M8', '67']
['M10', '27', '68']
['M13']

Here we get 7 groups of routes so we are needed 7 colours to show routes on map.